__pycache__
*.py[co]
*.pyd
*.so
.DS_Store
.pytest_cache/

# Packages
*.egg
*.egg-info
dist
build
_build
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Sphinx documentation
doc/_build/
doc/build/
.jupyterlite.doit.db
/doc/jupyter_execute/
doc/source/regression/*.ipynb

# Editors
.idea
.project
.pydevproject
.settings

# Project working files
# Expanded Cython
pywt/_extensions/*.[ch]
pywt/_extensions/_c99_config.py
pywt/_extensions/config.pxi
cythonize.dat
pywt/version.py
build.log

# Virtual environments
.env/
env/
venv/
.venv/

# asv files
asv/env
asv/html
asv/pywt
asv/results
