*.py[co]
*.pyd
*.so

# Packages
*.egg
*.egg-info
dist
build
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Editors
.idea
.project
.pydevproject
.settings

# Project working files
_pywt.[ch]
wavelets.[ch]
wavelets_coeffs.h
cythonize.dat
pywt/__config__.py
pywt/version.py
build.log
