Aaron O'Leary <aaron.oleary@gmail.com> <eeaol@leeds.ac.uk>
Alexandre Saint <snt.alex@gmail.com> asnt <snt.alex@gmail.com>
Arthur Roullier <36152494+0-tree@users.noreply.github.com> 0-tree <36152494+0-tree@users.noreply.github.com>
Daniel M. Pelt <d.m.pelt@cwi.nl> Daniel M Pelt <dmpelt@lbl.gov>
Gregory R. Lee <grlee77@gmail.com> Gregory R. Lee <gregory.lee@cchmc.org>
Gregory R. Lee <grlee77@gmail.com> Gregory Lee <grlee77@gmail.com>
Helder Oliveira <heldercro@gmail.com> Helder <heldercro@gmail.com>
Holger Nahrstaedt <holgernahrstaedt@gmx.de> Holger Nahrstaedt <holgern@users.noreply.github.com>
Kai Wohlfahrt <kai.wohlfahrt@gmail.com> <kai.scorpio@gmail.com>
Kai Wohlfahrt <kai.wohlfahrt@gmail.com> <kjw53@cam.ac.uk>
Kai Wohlfahrt <kai.wohlfahrt@gmail.com> Kai <kai.scorpio@gmail.com>
Pavle Boškoski <pavleb+git@gmail.com> pavleb <pavleb+git@gmail.com>
Ralf Gommers <ralf.gommers@gmail.com> <ralf.gommers@googlemail.com>
Sylvain Lannuzel <sylvain.lannuzel@student.ecp.fr> SylvainLan <sylvain.lannuzel@student.ecp.fr>
