include setup.py setup.cfg
include README.rst CHANGES.txt COPYING.txt THANKS.txt
include MANIFEST.in

graft demo
graft doc
graft src
graft tests
graft util

prune build
prune doc/build

global-exclude *.py[cod] *.egg *.egg-info
