cython
docutils
jupyterlite-sphinx>=0.14.0
jupyterlite-pyodide-kernel
jupytext
pydata-sphinx-theme
pytest
matplotlib
meson-python
myst-nb
numpy
numpydoc
sphinx>=7
sphinx-togglebutton
sphinx-copybutton
