cython
docutils
jupyterlite-sphinx>=0.16.2
jupyterlite-pyodide-kernel
jupytext
pydata-sphinx-theme
pytest
matplotlib
meson-python
myst-nb
nbformat
numpy
numpydoc
sphinx>=7
sphinx-copybutton
sphinx-design
sphinx-togglebutton
